.account-form {
    position: relative;
    height: fit-content;
    width: 20%;
    margin: auto;
    align-items: center;

}

.form-element {
    display: block;
    /* width: 50%; */
    /* height: 50%; */
}

.submit-button {
    margin: auto;
}